* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;   
}
:lang(es) {
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/    
    font-size: 62.5%;
    margin: 0;
    
}
body {
    margin: 0px;
}
.header {
    background-color: #140f30;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; /*alinea en forma vertical*/
    position: fixed; /*fija el header estatico*/
    z-index: 100; /*pone al header por encima de los demas elementos*/
    
}
.header__img {
    height: 90px;
    width: 110px;
    margin-top: 5px;
    margin-left: 10px;
   
}
.header___main--button   {    
    display: flex;     
    flex-wrap:wrap;  
    text-align: center;
}
.header___main--button > a {
    background-color: #002b51;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    height: auto;
    width: 88px;    
    border: white 2px solid;   
    text-decoration: none;
}
.header___main--button > a:lang(es) {
    
    font-size: 2.9rem; 
    height: 28px;
    margin: 5px;
    line-height: 0%;
    align-items: center ;

    
}
.header___main--button > a:hover {
    background-color: #002b51;
    transform: scale(1.15);
    border: rgb(255, 0, 0) solid;
}
.main {
    height: auto;
    width: 100%hw;
    background-color: #140f30;
    flex-wrap:wrap;
    
}
.Titulo {
    font-size: 8rem;
    color: rgb(6, 219, 226);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 5px 20px; 
    padding-top: 150px; /*le puse padding para bajar el main por debajo del header estatico, tambien para cuadrar en primer plano las secciones del menu (acceso directo)*/
}
.Titulo :lang(es) {
    font-size: 3.5rem;    
}
.About_Me {
    display: flex;
    align-items: center;
    /*border:yellow 2px solid;*/
    flex-wrap:wrap;   
    padding-bottom: 80px;
}
.presentation {
    width: 550px;
    height: auto;
    color: white;
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 120%;
    letter-spacing: 1px;
    text-transform: none;
    margin: 0px 20px 0px 20px;      
}
.presentation :lang(es) {
    line-height: 230%;
    font-size: 2.3rem;
}
h1 strong {
    color: red;
    font-size: 3rem;    
}

.cyberguz {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    position: relative;
    display: inline-block;
    
}
.foto_cyberguz{
    width: 450px;
    height: 300px;
    object-fit: cover;
}

.Portfolio {
    overflow: scroll;
    padding-left: 30px;
    width: 100%;
    position: relative;
  }
  
  .Portfolio__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
  }
  
  .Portfolio__container:hover .Portfolio-item {
    opacity: 0.3;
  }
  
  .Portfolio__container:hover .Portfolio-item:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  
  .Portfolio-item {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 250px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
  
  .Portfolio-item:hover ~ .Portfolio-item {
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0);
  }
  
  .Portfolio-item__img {
    width: 200px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Portfolio-item__img1 {
    width: 200px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
       
  }
  
  .Portfolio-item__details {
    align-items: flex-start;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    bottom: 0;
    display: flex;
    /*font-size: 10px;*/
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    opacity: 0;
    transition: 450ms opacity;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
   
  }
  
  .Portfolio-item__details--img {
    width: 20px;
  }
  
  .Portfolio-item:hover .Portfolio-item__details {
    opacity: 1;
  }
  
  .Portfolio-item__details--title {
    text-align: center;
    color: white;
    font-size: 1.6rem;    
    /*margin: 5px 0px 0px 0px;*/   
  }
  .Portfolio-item__details--title:lang(es) {
    font-size: 4.5rem;
  }
  .Portfolio-item__details--subtitle {
    color: white;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    width: 150px;
    
    
  }
  .Portfolio-item__details--subtitle:lang(es) {
    font-size: 2.3rem;
    line-height: 20%;
  }
  .Blog {
    /*background-color: tomato;*/
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .scrabble {
    display: flex;
    justify-content:center;
    align-content: center;
    flex-wrap: wrap;
    /*background-color: greenyellow;*/
    width: auto;
    height: 100px;
    
  }
  .scrab1, .scrab2, .scrab3, .scrab4 {
    width: 50px;
    height: auto;    
    margin-right: 30px;
    animation-name: uno;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function: ease; 
    animation-delay: 0s;           
    }
    @keyframes uno {
    0%{
        transform: translatex(5px);                
      }
     
    50% {
        transform: translatex(50px);
      }
        
    100% {
        transform: translatex(5px);          
      }
  }
  .intro_blog p {
    
    width: 100%;
    height: auto;
    font-size: 2.5rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: khaki;
  }
  .intro_blog p:lang(es) {
    font-size: 6rem;
    line-height: 30%;
    
  }
  .articulo {
      background-color: rgb(18, 3, 54);
      border: red 1px solid;
      border-radius: 10px;
      width: 350px;
      height: 200px;
      margin: 25px;
      text-align: center;
      
      
      }
  .articulo a {
    color: white;
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
  }
  .articulo a h1 {
    padding-top: 15px;
    
    
  }
.articulo a:lang(es) {
      font-size: 8rem;      
}
#description p{
  padding-top: 20px;
  color: white;
 
}
.footer {
    background-color: #140f30;
    height: auto;
    width: 100%hw;
    display: flex;
    justify-content: space-around;
    
     
}
.contact >p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: white;
    margin-left: 10px;
    margin: 0px 0px 10px 0px;    
}
.contact >p:lang(es) {
  font-size: 3.5rem;
  line-height: 10%;
}
.footer__img img {
    height: 40px;
    width: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;       
    flex-wrap:wrap; 
    cursor: pointer;     
}
.footer__img img:hover {
    transform: scale(1.3);
}



