* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    
    /*padding: 0;*/
}
body {
    margin: 0px;
}
.header {
    background-color: red;
    height: 120px;
    width: 100%hw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img {
    height: 90px;
    width: 110px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1.5rem;
}
.header___main--button {    
    display: flex;     
    flex-wrap:wrap;    
    
}
.header___main--button > a {
    background-color: #002b51;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.20rem;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    height: auto;
    width: 95px;
    text-align: center;
    border: white 2px solid;   
}
.main {
    height: 800px;
    width: 100%hw;
    background-image: linear-gradient(red, #002b51);
}

.footer {
    background-color: #002b51;
    height: 60px;
    width: 100%hw;
    display: flex;
    justify-content: space-between;
     
}
.contact {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: white;
    border: white 2px solid;   
    margin-left: 10px;
    align-items: center;
}
.footer__img >img {
    height: 90px;
    width: 110px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1.5rem;     
    flex-wrap:wrap; 
}