* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #003049;
}
html { 
    font-size: 62.5%;
}
.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
}
.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; /*siempre y cuando no cambie el valor 62.5% del html, de lo contrario pondria 10px, es espacio hasta el borde*/
    border: 1px solid goldenrod;
}
.logo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; /*margen inferior del contenido*/
}
.logo img {
    width: auto;
    min-width: 50vw;
    height: 25vh;   
    min-height: 20vh;
}
.menu {
    display: flex;
    list-style: none; /* elimina las vinetas*/
}
.menu li {
    margin: 0 5px;
}
.menu li a {
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
}
.content {
    width: 100%;
    padding: 20px 10px;
    border: 1px solid greenyellow;
    text-align: center;
   
}
.content {
    font-size: 2rem;
}
.bodeguero {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 15px; /*arriba costado abajo*/
}
.bodeguero img {
    width: 100%;
    border-radius: 10px;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    text-align: center;
    border: 1px solid blue;
    background-color: goldenrod;

}
.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.box1 img {
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 250px;
    border: 2px solid greenyellow;
    border-radius: 10px;
}
.box p {
    color: red;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    margin: 0 0 15px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 9, 9);
    padding: 1rem; /*siempre y cuando no cambie el valor 62.5% del html, de lo contrario pondria 10px, es espacio hasta el borde*/
    border: 1px solid orangered;
    list-style: none;
}
.redes {
    display: flex;
    justify-content: center;
}
.redes img {
    width: auto;
    min-width: 50vw;
    height: auto;
    max-height: 14vh;   
    min-height: 8vh;
}
@media (min-width: 600px) {
.head {
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    margin-bottom: 0;
}
.menu li a {
    font-size: 1.6rem;
    font-weight: 700;
        
}
.content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

@media (min-width: 1024px) {
.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;      
}
.menu li a {
    font-size: 1.8rem;
    font-weight: 700;
        
}
.box p {
    font-size: 1.9rem;
    font-weight: 700;
    margin: 0 0 15px;
}